<%= render partial: 'users/header' %>
<div class="main_container">
  <%= render partial: 'users/left' %>
  <div class="blog_container">
    <% @blogs.each do |blogs| %>
    <div class="content">
      <ul class="blog_ul">
        <% if logged_in? %>
        <% unless blogs.user_id == current_user.id %>
        <% @favorite = current_user.favorites.find_by(blog_id: blogs.id) %>
        <% if @favorite.present? %>
        <li class="blog_li btn btn-primary"><%= link_to 'お気に入り解除', favorite_path(id: @favorite.id), method: :delete%></li>
        <% else %>
        <li class="blog_li btn btn-primary"><%= link_to 'お気に入り', favorites_path(blog_id: blogs.id), method: :post%></li>
        <% end %>
        <% end %>
        <% end %>
      </ul>
      <h4><%= link_to  blogs.user.name , user_path(id: blogs.user.id) %></h4>
      <p class="blog"><%= blogs.content %></p>
      <img src=<%=blogs.image%>>
    </div>
    <% end %>
  </div>
</div>
