<%= render partial: 'users/header' %>

<div class="main_container">
      <%= render partial: 'users/left' %>
  <%= form_with(model: @blog,local:true,url: choose_new_or_edit ) do |form| %>
  <div class="blog_content">
    <%= form.label :本文 %>
    <%= form.text_field :content %>
    <%= image_tag(@blog.image.url) if @blog.image && @blog.image.url %>
    <%= form.file_field :image %>
    <%= form.hidden_field :image_cache %>
    <%= form.submit "投稿"%>
    <%= link_to '戻る', user_path(current_user.id) %>
    <% end %>
  </div>
  <div>
  <% if @blog.errors.any? %>
  <h2><%= pluralize(@blog.errors.count, "error") %> prohibited this <%= @user.name %> from being saved:</h2>
  <ul>
    <% @blog.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
  <% end %>
</div>

</div>
